{
  "env": {
    "browser": true,
    "es2021": true,
    "node":true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "indent": "off",
    "react/react-in-jsx-scope": "off",
    "quotes": [2, "single", { "avoidEscape": true ,"allowTemplateLiterals": true }],
    "react/prop-types": "off" // If you don't want to enforce prop-types usage
    // Add more rules based on your preferences
  }
}
